{% extends "blog/base.html" %}
{%load static %}
{% block content %}
	<body>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>BVRIT GYM </h1>
      <p class="lead text-muted">Equipments and Steps for Usage</p>
      
    </div>
  </section>

  <div class="album py-5 light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"> <img src="{% static 'dumbbells.jpg' %}",alt="not found",alt="not found"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body"><h3>1.Dumbbells</h3>
              <p class="card-text">
                1. Hold a dumbbell in both hands and lie on your back with your legs and arms outstretched.<br>2.Brace your core as you simultaneously lift your right leg and upper body straight up to meet in the air.<br>3.Touch the dumbbell to your right toe, then lower your upper body and leg with control.<br>4.Repeat on the opposite leg. That's one repetetion.
              </p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted"> 15 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"> <img src="{% static 'electricthread.jpg' %}",alt="not found",alt="not found"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <br><br>
            <h3>2.Electric Thread Mill</h3>
            <div class="card-body">
              <p class="card-text">
                1.Do a 20 to 30 minute beginner workout. <br>2.Warm up for 5 minutes.<br>3.Keep a pace between 3 and 4 mph (4.8 and 6.4 km/h) for 20 minutes.<br>4.Cool down for 5 minutes, by slowly lowering your pace each minute.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">30 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"> <img src="{% static 'outerthigh.jpg' %}",alt="not found",alt="not found"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <br>
              <h3>3.Outer Inner Thigh</h3>
              <p class="card-text">
                1.Adjust the seat and leg pads to a comfortable position.<br>2.Press your back firmly against the back rest of the machine.<br>3.Push against the leg pads of adductor machine with your legs and slowly spread them.<br>4.Squeeze your adductors and hold for a count of one.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">15 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"> <img src="{% static 'bike.jpg' %}",alt="not found",alt="not found"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <h3>4.Bike</h3>
              <br>
              <p class="card-text">
                1.Adjust the seat and set the handlebars correctly.<br>2.Get to know the display panel.<br>3.Adjust the pedal straps so that your feet feel snug — but don’t let the straps cut off your circulation.<br>4.Don’t pedal with just your toes and Don’t hunch over.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">20 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"> <img src="{% static 'legpress.jpg' %}",alt="not found",alt="not found"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <h3>5.Leg Press Calf Raise</h3>
              <p class="card-text">
                1.Sit down on a Leg Press Machine and press the plate up as if you were performing a leg press.<br>2.Slide your feet down so that the balls of your feet are pressing against the rack <br>3.Keeping the handles locked, press up and flex your toes and then slowly bring your toes back towards your body<br>4. Perform these movements slowly for maximum benefit.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">15 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"> <img src="{% static 'latpull.jpg' %}",alt="not found",alt="not found"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <h3>6.Lat Pull Down</h3>
              <p class="card-text">
                1.Keep your chest tall and Keep your back straight <br>2.Use your lat/back muscles to bring the bar down<br>3.Squeeze your shoulder blades together and don't Use your biceps too much on the way down<br>4.Pull the bar down to the top of your chest
              </p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">8-12 repetetions</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"> <img src="{% static 'smith.jpg' %}",alt="not found",alt="not found"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <h3>7.Smith Machine</h3>
              <p class="card-text">
                1.To perform a Smith machine squat, place the bar from where you’d like to un-rack it, then load the bar.<br>2.Center the bar and make sure it’s sitting on your shoulders, which are tucked under the bar.<br>3.Rise back up by pushing the ground down and your shoulders straight up into the bar.<br>4.You should not feel the bar grinding forward into the Smith machine.
              </p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted">12 repetetions</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"> <img src="{% static 'curlbench.jpg' %}",alt="not found",alt="not found"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <br>
              <h3>8.Biceps Curl Bench</h3>
              
              <p class="card-text">
                1.Set up the bench and Try incline dumbbell curls.<br>2.Keep your palm inward for a hammer curl.<br>3.Do concentration curls to help focus movement. <br>4.Try a Zottman curl by doing the hammer curl in reverse.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">0...  </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"> <img src="{% static 'cable.jpg' %}",alt="not found",alt="not found"><rect width="100%" height="100%" fill="#55595c"/></svg>
            <div class="card-body">
              <h3>9.Cable Cross-over-Machine</h3>
              <p class="card-text">
                1.Stand between two low- to medium-height cables with handles.<br>2.Squat down, grab each handle, and stand up with your elbows bent and in the starting position for a shoulder press.<br>3.Step back with one foot so you have more stability. Engage your core and push the cables upward until your arms are extended overhead.<br>4.Do 2–3 sets of 10–12 repetitions.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">4-5 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
{% endblock content %}
