
{% extends "blog/base.html" %}
{%load static %}
{% block content %}
	<h1><u>Loose Weight</u></h1>
		<body bgcolor="grey">
			
			<div class="grid-container">
				<h2>1.Swimming</h2>
			  <img  class="center" src="{% static 'swimming.jpg' %}" alt="not found" >
			  <div class="hero"><font size="4" color="black">
				<br>Swimming is a great low-impact exercise for people looking to lose weight. Moreover, it may help improve your flexibility and reduce risk factors for various diseases.</font></div>
		       </div>
		  <div class="grid-item">
			  
		  <br>
		  </div>
		  </div>
			<div class="grid-container">
				<h2>2.Jogging And Running</h2>
				<br>
			  <img src="{% static 'jogging.jpg' %}",alt="not found">
			</div>
			<div class="grid-item"><br><font size="4">
				Jogging and running are great exercises for weight loss that are easy to incorporate into your weekly routine. They can also help burn belly fat, which is linked to many chronic diseases.
		  <br>
		  </font>
		  
		  <br>
		  </div>
		  </div>
			<div class="grid-container">
				<h2>3.Cycling</h2>
			  <br><img src="{% static 'cycling.jpg' %}",alt="not found"></div>
			   <div class="grid-item"><br>
				<font size="4">
					Cycling is great for people of all fitness levels and can be done outdoors on a bicycle or indoors on a stationary bike. It has been linked to various health benefits, including increased insulin sensitivity and a reduced risk of certain chronic diseases.</font> <br>
		  </div>
		   
		  </div>
	</body>
	<br><br><br>
	<h1><u>Gain Weight</u></h1>
		<body bgcolor="grey">
	
			<div class="grid-container">
				<h2>1.Lunges</h2>
			  <img src="{% static 'lunges.jpeg' %}",alt="not found">
			  <div class="hero"><font size="4" color="black">
				<br>Stand straight with your feet aligned with your hips. This is the starting position.
				Engage your core, take a deep breath, and take a step forward with your left foot and kneel until your right knee is perpendicular to the ground.
				Push back on your heel to lift back your body to the starting position.
				Repeat this 20 times on each side. For best results, do this exercise while holding some weights.
	.</font></div>
		  
			  </div>
		  <div class="grid-item">
			  
		  <br>
		  </div>
		  </div>
			<div class="grid-container">
				<h2>2.Push-Ups</h2>
			  <br>
			  <img src="{% static 'pushups.jpeg' %}",alt="not found">
			</div>
			<div class="grid-item">
			  <br><br><br><font size="4">
				Lie down on your stomach.
				Put your hands on the ground – palms flat and facing downward, and elbows bent and shoulder-width apart.
				Place your toes on the ground.
				Align your legs, feet, and back.
				Slowly push your entire body up off the ground with your hands. Stretch your arms completely. Your entire body should be off the ground, supported by your hands and toes.
				Slowly lower your body by bending your elbows. No part of your body should touch the ground except your hands and toes.
				Do 15 reps or as many as you can as per your comfort.
				
		  <br>
		  </font>
		  <br>
		 
		  </div>
		  </div>
			<div class="grid-container">
				<h2>3.Bench Press</h2>
			  <br><img src="{% static 'benchpress.jpeg' %}",alt="not found"></div>
			   <div class="grid-item"><br>
				<br><br><font size="4">
					Lie on your back on the bench, keeping your entire body relaxed.
					Stretch out your fingers and grab the bar.
					Slowly lift the weight bar, stretching your arms completely.
					Pull it back down onto the rack or near your chest from where you started. Bend your arms at a 90° angle.
					Do 4 to 5 reps or as per your comfort level.</font> <br>
		  <br></div>
		   
		  </div>
	</body>
{% endblock content %}
