{% extends "blog/base.html" %}
{% block content %}
	
	<body>
		
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	  <h1 class="display-4">Nutrition Plans</h1>
	  <p class="lead">Be Healthy.</p>
	</div>
	
	
		<div class="card mb-4 shadow-sm">
		  <div class="card-header">
			<h4 class="my-0 font-weight-normal">Diet Plan</h4>
		  </div>
		  <div class="card-body">
			<h1 class="card-title pricing-card-title">Steps:</h1>
			<ul class="list-unstyled mt-3 mb-4">
			  <li>1.Eat plenty of fruit and vegetables, whole grains, beans, nuts, and seeds; some lean meats, fish, eggs, low-fat dairy products; and mono and polyunsaturated oils</li>
			  <li>2.Limit intake of saturated fat, cholesterol, salt, alcohol, added sugars and sugary foods</li>
			  <li>3.Drink plenty of water</li>
			  <li>4.Maintain a normal weight</li>
			  <li>5.Exercise regularly</li>
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-primary">know more</button>
		  </div>
		</div>
		<div class="card mb-4 shadow-sm">
		  <div class="card-header">
			<h4 class="my-0 font-weight-normal">Fruits And Nutrition Values</h4>
		  </div>
		  <div class="card-body">
			<h1 class="card-title pricing-card-title">Category <small class="text-muted">/Nutrition Values</small></h1>
			<ul class="list-unstyled mt-3 mb-4">
			  <h3>1.Grape Fruit</h3>
			  <li>Grapefruit is highly nutritious. Eating it may reduce insulin resistance, cholesterol and help prevent kidney stones. Grapefruit may also be useful for weight loss.</li>
			  <h3>2.Pineapple</h3> 
			  <li>Pineapple is rich in vitamin C and manganese. Its bromelain content may fight inflammation and reduce the risk of cancer.</li>
			  <h3>3.Avocado</h3>
			  <li>Avocados are rich in healthy fats and potassium, both of which are well known for their role in promoting heart health.</li>
			  <h3>4.BlueBerries</h3> 
			  <li>Blueberries are rich in a few important nutrients. They have a high antioxidant capacity and immune-enhancing properties, which may protect the body from illness.</li>
			  <h3>5.Apples</h3>
			  <li>Apples are very nutritious. Their nutrients, antioxidants and fiber may reduce the risk of disease and improve digestion.</li>
			  <h3>6.Pomegranates</h3> 
			  <li>Pomegranates have wide-ranging health benefits. They are incredibly high in antioxidants and other plant compounds that can help reduce inflammation and prevent disease.</li>
			  <h3>7.Mangoes</h3>
			  <li>Mangoes contain vitamin C and soluble fiber. They also contain plant compounds with antioxidant and anti-inflammatory effects.</li>
			  <h3>8.Strawberries</h3> 
			  <li>Strawberries are rich in several nutrients and antioxidants. Eating them may help control your blood sugar levels and reduce your risk of some diseases.</li>
			  <h3>9.Cranberries</h3> 
			  <li>Cranberries are rich in several nutrients and antioxidants. They also contain beneficial plant compounds that help prevent urinary tract infections.</li>
			  <h3>10.Lemons</h3>
			  <li>Lemons are rich in vitamin C and other plant compounds that may promote heart health, boost weight loss and help prevent kidney stones.</li>
			  <h3>11.Durian</h3> 
			  <li>Durian is rich in nutrients and plant compounds that can provide some promising health benefits.</li>
			  <h3>12.Watermelon</h3> 
			  <li>Watermelon is high in water, nutrients and antioxidants. It is also particularly high in a powerful antioxidant called lycopene.</li>
			  
			</ul>
			<button type="button" class="btn btn-lg btn-block btn-primary">know more</button>
		  </div>
		</div>
	  </div>
	  <div class="card mb-4 shadow-sm">
		<div class="card-header">
		  <h4 class="my-0 font-weight-normal">Other Protein And Vitamin Material</h4>
		</div>
		<div class="card-body">
		  <h1 class="card-title pricing-card-title">Category <small class="text-muted">/Nutrition Values</small></h1>
		  <ul class="list-unstyled mt-3 mb-4">
			<h3>1.Whey Or Casein Protein Powder</h3>
			<li>Whey is the consensus-MVP protein for building muscle, so if you can swing it, make sure you're taking the good stuff. Ascent's powder is made using native whey, which the company calls the "least-processed" form. There are 25 g of protein per serving and 0 artificial ingredients, so you're getting the good stuff.</li>
			<h3>2.Eggs</h3> 
			<li>Eggs are one of the most perfect high-protein foods at the supermarket: cheap, versatile, low-carb, and packed with branched-chain amino acids. Look for eggs fortified with extra omega-3 fatty acids to give your breakfast scramble an extra nutrient boost.</li>
			<h3>3.Milk</h3>
			<li>You could chug watery, flavorless skim milk, or you could enjoy the richer taste of 2 percent while getting a little extra fat to help you absorb the milk's vitamin D and get you closer to your macro targets.</li>
			<h3>4.Ground Beef (90% Lean)</h3> 
			<li>Using 90 percent ground beef provides just the right amount of fat so your burgers and meatloaf won't taste like cardboard. Beyond raising your protein intake, this red meat is also a good source of the almighty creatine. If you have some extra cash, opt for grass-fed beef, which is more nutrient-dense than its factory-farm counterparts.</li>
			<h3>5.Mixed Nuts</h3>
			<li>Nuts (and honorary nuts) like peanuts, cashews, and almonds make for a crunchy way to add more protein and healthy unsaturated fats to your diet. Keep a can in your glove compartment for hunger emergencies. If you're watching your sodium intake, look for packages labelled "unsalted".</li>
		
			
		  </ul>
		  <button type="button" class="btn btn-lg btn-block btn-primary">know more</button>
		</div>
	  </div>
	</div>
	  
	</div>
	<footer class="footer-distributed">

		<div class="footer-left">
	
		  <h3><span>BVRIT'S Fitness Club</span></h3>
	
		  <p class="footer-links">
			<a href="#">Home</a>
			·
			<a href="#">Nutrition Plan</a>
			·
			<a href="#">Pricing</a>
			·
			<a href="#">About</a>
			·
			<a href="#">Faq</a>
			·
			<a href="#">Contact</a>
		  </p>
	
		  <p class="footer-company-name">BVRIT'S Fitness Club &copy; 2019</p>
		</div>
	
		<div class="footer-center">
	
		  <div>
			<i class="fa fa-map-marker"></i>
			<p><span>BVRIT, NARSAPUR</p>
		  </div>
	
		  <div>
			<i class="fa fa-phone"></i>
			<p>+91 9999999999</p>
		  </div>
	
		  <div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">support@BVRIT'Sfit.com</a></p>
		  </div>
	
		</div>
	
		<div class="footer-right">
	
		  <p class="footer-company-about">
			<span>About the company</span>
			BVRIT'S Fitness club and Spaembarks on a mission to raise the level of fitness and wellness by providing students and faculties with the industry's best cardiovascular and strength equipment in the campus, by uprooting their misconceptions regarding health, exercise and fitness through dissemination of scientific research done in this field and creating a major attitudinal change in their lifestyles.
		  </p>
	
		  <div class="footer-icons">
	
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
	
		  </div>
	
		</div>
	
	  </footer>
	</body>
{% endblock content %}
